* {
    font-family: 'Times New Roman', Times, serif
}

.back-home {
    width: 5px;
    margin: auto;
}

.reci-backgrounds {
    background-color: wheat;
}

.h-head {
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}

.home-card {
    background-color: aliceblue;
    width: 400px;
    margin: auto;
    border: 5px solid black;
}

.hc-head {
    width: auto;
    margin: 5px 0 0 25px;
}

.title {
    width:  100px;
    margin-left: 10px;
}

.reci-titles {
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

.reci-tops {
    width: 400px;
    margin: auto;
}



.reci-cards {
    width: 500px;
    margin: auto;
    background-color:aliceblue;
    border: groove black 5px;
    padding-left: 10px;
}


.spag-pic {
    width: 400px;
    border: groove black 5px;
}

.cookie-pic {
    width: 400px;
    border: groove black 5px;
}

.arroz-pic {
    width: 400px;
    border: groove black 5px;
}





